* {
  margin: 0; 
  padding: 0px;
  position: relative;
  width: 100%;
  height: auto;
  top: 0px;
  font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;  
}

body {
  background: #FFFFFF;
}

header {
  background-color: #4B4A4A;
}

nav ul li {
  margin-right: 10%;
  margin-left: 10%;
  display: inline;
}

ul li img {
  width: 54px;
  height: 54px;
  top: 5px;

  background: url(../src/logo.png);
  mix-blend-mode: normal;
  border-radius: 256px;
} 

ul li a {
  font-family: 'Montserrat', sans-serif;
  font-size: 200%;
  top: -15px;
  text-align: center;
  letter-spacing: -0.02em;

  color: #ECEBEC;
}

footer {
  background: #000000;
}
