* {
  margin: 0; 
  padding: 0px;
  position: relative;
  width: 100%;
  height: auto;
  font-family: 'Merriweather', serif;
  font-family: 'Montserrat', sans-serif;  
}

html, body {
  position: absolute;
  width: 100%;
  height: 210vh;
  background: #FFFFFF;
}

header {
  height: 5vh;
  background-color: #4B4A4A;
}

nav ul li {
  display: inline;
  top: 0.6vh;
}

nav ul li:first-child {
  position: absolute;
  left: 7vw;

  width: 30vw;
  text-align: left;
}

nav ul li:last-child {
  position: absolute;
  right: 7vw;
  
  width: 30vw;
  text-align: right;
}

ul li a {
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 3vh;
  letter-spacing: -0.02em;

  color: #ECEBEC;
}

nav img {
  width: 5vh;
  height: 5vh;
  left: 45vw;
/*  top: -3.6vw;*/

/*  background: url(../src/logo.png);
  mix-blend-mode: normal;*/
  border-radius: 20vh;
}

footer {
  position: absolute;
  height: 5vh;
  bottom: 0;
  background: #000000;
}
