html, body {
  height: 100vh;
}

footer {
  height: 5vh;
}

#game-create {
  height: 90vh;
  background: url(../src/background_black.jpg);
  -moz-background-size: 100%;  /*Firefox 3.6+*/ 
  -webkit-background-size: 100%;  /*Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;  /*Opera 9.6+ */
  background-size: 100%;  /*Современные браузеры */
}

#game-create h1 {
  top: 2%;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 10vh;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

#game-create h3 {
  height: 8%;
  width: 50%;
  left: 50%;
  top: 5%;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 7vh;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

#game-create form {
  width: 30%;
  height: 60%;
  left: 60%;
  top: 10%;
}

#game-create form p {
  position: static;
  height: 10%;
  width: 100%;
  top: 7%;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 4vh;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

#game-create form input {
  position: visible;
  width: 60%;
  height: 10%;
  left: 20%;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 4vh;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
  background: #FFFFFF;
}

#game-create form .button-create {
  position: visible;
  width: 70%;
  height: 15%;
  left: 15%;
  top: 5%;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 5vh;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
  background: #E81120;
}

#game-list {
  position: fixed;
  bottom: 13%;
  left: 0;
  height: 60%;
  width: 40%;
  /*background: url(../src/background_white.png);*/
}

#game-list h5 {
  position: static;
  width: 100%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 5vh;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

#game-list ul {
  position: relative;
  width: 80%;
  height: 50%;
  left: 10%;

  list-style: none;
  overflow: auto;
  /*background-color: #37383C;*/
}

#game-list ul li {
  position: static;
  width: 90%;
  margin: 1%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 5vh;
  text-align: center;
  letter-spacing: -0.02em;
  
  color: #000000;
/*  display:none;*/
}

#game-list form {
  position: relative;
  height: 30%;
  width: 80%;
  top: 5%;
  left: 10%;

  border: 2px solid;
}

#game-list form p {
  position: static;
  width: 100%;
  height: 20%;
  top: 10%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 4vh;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
}

#game-id {
  position: relative;
  width: 50%;
  height: 20%;
  left: 25%;
  top: 10%;

  color: #000000;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#button-join {
  position: relative;
  width: 60%;
  height: 30%;
  top: 15%;
  left: 20%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 3vh;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
  background: #D20000;
}
