#game-create {  
  position: absolute;
  width: 1280px;
  height: 860px;
  left: 0px;
  top: 52px;
  background: url(../src/background_black.jpg) no-repeat;
  -moz-background-size: 100%;  /*Firefox 3.6+*/ 
  -webkit-background-size: 100%;  /*Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;  /*Opera 9.6+ */
  background-size: 100%;  /*Современные браузеры */
}

#game-create h1 {
  position: absolute;
  top: 72px;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 60px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

#game-create h3 {
  position: absolute;
  top: 194px;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

#input-name {
  position: absolute;
  width: 405px;
  height: 82px;
  left: 426px;
  top: 270px;
}

#input-password {
  position: absolute;
  width: 405px;
  height: 77px;
  left: 426px;
  top: 383px;
}

#input-count {
  position: absolute;
  width: 405px;
  height: 82px;
  left: 426px;
  top: 491px;
}

#input-name p, #input-password p, #input-count p {
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

#input-name input, #input-password input, #input-count input {
  width: 405px;
  height: 40px;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
  background: #FFFFFF;
}

.button-create {
  position: absolute;
  width: 471px;
  height: 81px;
  left: 400px;
  top: 651px;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
  background: #E81120;
}

#game-list {
  position: absolute;
  width: 367px;
  height: 862px;
  left: 0px;
  top: 60px;

  background: url(../src/background_white.png);
}

#game-list h5 {
  position: absolute;
  width: 287px;
  height: 63.37px;
  top: 35.2px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
}

#game-list ul {
  position: absolute;
  width: 287px;
  height: 444.58px;
  left: 40px;
  top: 98.57px;

  color: white;
  background-color: #37383C;
}

#game-list ul li {
  margin: 0;
  display:none;
}

#game-list form p {
  position: absolute;
  width: 283px;
  height: 41.24px;
  left: 44px;
  top: 589.42px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
}

#game-id {
  position: absolute;
  width: 286px;
  height: 53.31px;
  left: 41px;
  top: 647.76px;

  color: #000000;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#button-join {
  position: absolute;
  width: 286px;
  height: 43.25px;
  left: 41px;
  top: 727.22px;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
  background: #D20000;
}