#game-create {
  height: 68vw;
  background: url(../src/background_black.jpg) no-repeat;
  -moz-background-size: 100%;  /*Firefox 3.6+*/ 
  -webkit-background-size: 100%;  /*Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: 100%;  /*Opera 9.6+ */
  background-size: 100%;  /*Современные браузеры */
}

#game-create h1 {
  top: 2vw;
  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 8vw;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

#game-create h3 {
  top: 4vw;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 7vw;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

#game-create form p {
  top: 4vw;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
}

form input {
  width: 40vw;
  height: 4vw;
  top: 4vw;
  left: 30vw;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
  background: #FFFFFF;
}

form .button-create {
  width: 35vw;
  height: 7vw;
  left: -8vw;
  top: 15vw;

  font-family: Merriweather;
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  align-items: center;
  text-align: center;
  letter-spacing: -0.02em;

  color: #FFFFFF;
  background: #E81120;
}

#game-list {
  height: 107vw;
  background: url(../src/background_white.png);
}

#game-list h5 {
  width: 90vw;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 5vw;
  text-align: right;
  letter-spacing: -0.02em;

  color: #000000;
}

#game-list ul {
  width: 35vw;
  height: 50vw;
  left: 60vw;

  color: white;
  background-color: #37383C;
}

#game-list ul li {
  margin: 1%;

  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 3vw;
  text-align: center;
  letter-spacing: -0.02em;
/*  display:none;*/
}

#game-list form p {
  top: -55vw;
  left: 3vw; 

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 4vw;
  text-align: left;
  letter-spacing: -0.02em;

  color: #000000;
}

#game-id {
  top: -53vw;
  left: 9vw;

  color: #000000;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#button-join {
  top: -50vw;
  left: 9vw;

  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  display: flex;
  text-align: center;
  letter-spacing: -0.02em;

  color: #000000;
  background: #D20000;
}
