<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Тайный друг</title>
  <link rel="stylesheet" type="text/css" href="../static/styles/all.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/game.css">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="home">Главная</a></li>
        <li><img href="../static/src/logo.png"></li>
        <li><a id="show-login">Выход</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <section id="first">
      <h2>Страница игры</h2>
      <p>Список участников</p>
      <ul>
        <li><a href="userid">Имя участника 1</a></li>
        <li><a href="userid">Имя участника 2</a></li>
        <li><a href="userid">Имя участника 3</a></li>
        <li><a href="userid">...</a></li>
      </ul>
      <table>
        <tr>
          <td class="table-name">Название игры</td><td class="table-name">Вручение подарков состоится</td>
        </tr>
        <tr>
          <td class="table-value">Подтягивается из базы</td>
          <td class="table-value">Подтягивается из базы</td>
        </tr>
        <tr></tr>
        <tr>
          <td class="table-name">Ты даришь подарок</td>
        </tr>
        <tr>
          <td class="table-value">Появится, когда все участники добавятся =)</td>
        </tr>
      </table>
    </section>
    <section id="gift-given">
      <h5>Вы сделали подарок?</h5>
      <button id="button-yes">Да</button>
      <button id="button-no">Нет</button>
    </section>
  </main>
  <footer>
    Тут кто создатель всея. Одинаковое на всех страницах.
  </footer>	
</body>
</html>