<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="utf-8">
  <title>Тайный друг</title>
  <link rel="stylesheet" type="text/css" href="../static/styles/all.css">
  <link rel="stylesheet" type="text/css" href="../static/styles/game.css">
</head>
<body>
  <header>
        <nav>
          <ul>
            <li><a href="home">Главная</a></li>
            <li><a href='user'>Личный кабинет</a></li>
          </ul>
	  <img src="{{url_for('static', filename='/src/logo.png')}}"ref="../static/src/logo.png">
        </nav>
    </header>
  <main>
    {% if data[1] == 0 or data[1] == 1 %}
    <section id="first">
      <h2>Игра {{ data[0] }}</h2>
      <p>Список участников</p>
      <ul>
        {% for i in players %}
        <li>{{ i }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </section>
    {% if data[1] == 1 %}
    <section id="gift-given">
      <table>
        <tr>
          <td class="table-name">Вы дарите подарок</td>
          <td class="table-value">{{ data[2] }}</td>
        </tr>
      </table>
      <h5>Вы сделали подарок?</h5>
      <a href="game?a=1"><button id="button-yes">Да</button></a>
      <button id="button-no">Нет</button>
    </section>
    {% elif data[1] == 2 %}
    <section id="second-section">
      <h2>Игра {{ data[0] }}</h2>
      <h5>Оцените игру</h5>  
      <form action="{{ url_for('set_score')}}" method="post" novalidate="">
	<p>Оцените подарок, который вам подарили от 0 до 10:</p>
        <input name="grade" placeholder="0" required="required" type="number">
        <p>Чтобы узнать, кто сделал вам подарок, нажмите кнопку</p>
        <input class="button-login" type="submit" value="Завершить">  
      </form>
    </section>
    {% elif data[1] == 3 %}
    <section id="final">
      <h2>Игра {{ data[0] }}</h2>
      <h5>Игра завершена</h5>
      <table>
        <tr>
          <td class="table-name">Вам дарил подарок</td>
          <td class="table-name">Вы дарили подарок</td>
        </tr>
        <tr>
          <td class="table-value">Подтягивается из базы</td>
          <td class="table-value">Подтягивается из базы</td>
        </tr>
        <tr>
          <td class="table-name">Оценка подарка, который подарили тебе</td>
          <td class="table-name">Оценка подарка, который подарил ты</td>
        </tr>
        <tr>
          <td class="table-value">Подтягивается из базы</td>
          <td class="table-value">Человек пока что не выстивил оценку. Подожди</td>
        </tr>
      </table>
    </section>
  {% endif %}
  </main>
  <footer>
    Тут кто создатель всея. Одинаковое на всех страницах.
  </footer>
  <!-- <script src="../static/js/game.js"></script>	-->
</body>
</html>
