<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Тайный друг</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/all.css') }}"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/index.css') }}"> 
</head>
<body>
    <header>
        <nav>
          <ul>
            <li><a href="home">Главная</a></li>
            <li></li>
            <li><a href="login">Вход\Регистрация</a></li>
          </ul>
        </nav>
        <h1>Главная страница</h1>
    </header>
    <main>
        <section>
            Тут можно написать что-то про игру и то, что мы придумали...
        </section>
    </main>
    <footer>
        Тут кто создатель всея. Одинаковое на всех страницах.
    </footer>	
</body>
</html>
