<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>Тайный друг</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/all.css"> 
    <link rel="stylesheet" type="text/css" href="../static/styles/user.css"> 
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="home">Главная</a></li>
        <li><a href="logout">Выход</a></li>
      </ul>
      <img src="{{url_for('static', filename='/src/logo.png')}}"ref="../static/src/logo.png">
    </nav>
  </header>
  <main>
    <section id="game-create">
      {% if session['username'] %}
      <h1>Добро пожаловать {{ session['username'] }}</h1>
      {% endif %}
      <h3>Создание игры</h3>
      <form action="{{ url_for('creategame')}}" method="post" novalidate="">
        <div id="input-name">
          <p>Название игры</p>
          <input name="name" placeholder="Gamename" required="required" type="text">
        </div>
        <div id="input-password">
          <p>Пароль</p>
          <input name="password" placeholder="Password" required='required' type="password">
        </div>
        <div id="input-count">
          <p>Количество участников</p>
          <input name="count" placeholder="5" required='required' type="number">
        </div>
        <input class="button-create" type="submit" value="Создать игру">
      </form>
    </section>
    <section id="game-list">
      <h5>Список игр</h5>
      <ul>
        <li><a href="id1">Имя игры1</a></li>
        <li><a href="id2">Имя игры2</a></li>
        <li><a href="id3">Имя игры3</a></li>
        <li><a href="idn">...</a></li>
      </ul>
      <form action="{{ url_for('game')}}" method="post" novalidate="">
        <p>Введите идентификатор игры</p>
        <input id="game-id" name="gameid" placeholder="gameid" required="required" type="text">
        <input id="button-join" type="submit" value="Присоединиться к игре">
      </form>
    </section>
  </main>
  <footer>
    Тут кто создатель всея. Одинаковое на всех страницах.
  </footer>
</body>
</html>