<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Тайный друг</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/all.css') }}"> 
</head>
<body>
  <header>
    <nav>
      <ul>
        <li><a href="home">Главная</a></li>
        <li><a href="user">Домашняя</a></li>
        <li><a href="logout">Выход</a></li>
      </ul>
    </nav>
    <h1>Страница пользователя</h1>  
  </header>
  <main>
    <section id="game-list">
      Тут список игр.
      <ul>
        <li><a href="id1">Имя игры1</a></li>
        <li><a href="id2">Имя игры2</a></li>
        <li><a href="id3">Имя игры3</a></li>
        <li><a href="idn">...</a></li>
      </ul>
    </section>
    <section id="game-create">
      <h3>Отдел создания игр.</h3>
      <form action="{{ url_for('creategame')}}" method="post" novalidate="">
        <input name="name" placeholder="Gamename" required="required" type="text">
        <br>
        <input name="password" placeholder="Password" required='required' type="password">
        <br>
        <input name="count" placeholder="5" required='required' type="number">
        <br>
        <input class="button-create" type="submit" value="Create">
      </form>
    </section>
  </main>
  <footer>
    Тут кто создатель всея. Одинаковое на всех страницах.
  </footer>	
</body>
</html>